{% extends 'base.html' %}

{% block content %}

  <div class="container item_1">
    <h2>Wasserstoff ist der Energieträger des nachfossilen Zeitalters</h2>
  </div>
  <div class="container item_2">
    <h3>
      <p>Der Klimawandel kann ausschließlich durch die Abkehr von fossilen Energieträgern gestoppt werden.</p>
      <p></p>
      <p>Was kann eine Lösung sein?</p>
      <p></p>
      <p>Die wirtschaftliche Produktion von grünem Wasserstoff</p>
    </h3>
  </div>
  <div class="container_item_3">
    <div class="container sub3 item_3_1">
      <p><img src="https://wp-uploads.storage.yandexcloud.net/uploads/2021/05/ses.jpg" height="240" width="320"> </p>
      <h3>Erneuerbare Energien</h3>
      <p>Grüner Wasserstoff hilft, CO2-Emissionen zu reduzieren und trägt zur Erreichung der Klimaziele bei. Die benötigten Rohstoffe für grünen Wasserstoff sind simpel: Wasser + Strom aus EE</p>
    </div>
    <div class="container sub3 item_3_2">
      <p><img src="https://live.staticflickr.com/1507/25072304725_9c0542d55b_b.jpg" height="240" width="320"></p>
      <h3>Erneuerbare Energien</h3>
      <p>Grüner Wasserstoff hilft, CO2-Emissionen zu reduzieren und trägt zur Erreichung der Klimaziele bei. Die benötigten Rohstoffe für grünen Wasserstoff sind simpel: Wasser + Strom aus EE</p>
    </div>
    <div class="container sub3 item_3_3">
      <p><img src="https://www.eprussia.ru/upload/medialibrary/3f7/mw4dwg0rg45wyi2lppmadfxn1yl5ibsu/top2.jpg" height="240" width="320"></p>
      <h3>Erneuerbare Energien</h3>
      <p>Grüner Wasserstoff hilft, CO2-Emissionen zu reduzieren und trägt zur Erreichung der Klimaziele bei. Die benötigten Rohstoffe für grünen Wasserstoff sind simpel: Wasser + Strom aus EE</p>
    </div>
  </div>
    <div class="container item_4">
    <h3> Die Produktion von 20.000 kg grünem Wasserstoff pro Tag in Tunesien </h3>
      <p><img src="http://res.cloudinary.com/americancentury/image/upload/f_auto/q_auto/v1675192007/green-hydrogen-essential-to-fighting-climate-change-hero.jpg" height="320" width="1000"></p>
      <h4>Produktion im Sonnengürtel der Welt</h4>
      <p>Als Ziel hat sich H2 Sunbelt die Produktion von mindestens 20.000 kg Wasserstoff pro Tag gesetzt. Dieses Ziel bestimmt die benötigte Wassermenge, den Strombedarf und den damit einher gehenden PV- und Produktionsflächenbedarf, die Dimensionierung des Elektrolyseurs, das Transportvolumen und den Transportintervall. Wäre Wasserstoff ein Fester Rohstoff ohne besondere Transportanforderungen, entsprächen die 20.000 kg eine LKW-Ladung. </p>
    </div>
  </div>

{% endblock %}