{% extends 'base.html' %}

{% block content %}

  <div class="container item_1">
    <h2>Unser Unternehmensziel besteht darin, grünen Wasserstoff in Tunesien zu produzieren und nach Deutschland zu exportieren.</h2>
  </div>
  <div class="container item_2">
    <p><img src="https://i.pinimg.com/originals/2f/d6/30/2fd63052d1df71066aac3abbfe949bd0.jpg" height="960" width="640"></p>
  </div>
  <div class="container item_1">
    <p class="text1">H2 Sunbelt</p>
    <p class="text1">Lohkoppel 9</p>
    <p class="text1">22179 Hamburg</p>
    <p class="text1">+49 (0) 40 788 046 11</p>
    <p class="text1"> <color> - </color> </p>
    <p class="text1">h2sunbelt@gmail.com </p>
  </div>






{% endblock %}